<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsPaisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55837/wsPais.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsPaisSoap" contract="wsPais.wsPaisSoap"
                name="wsPaisSoap" />
        </client>
    </system.serviceModel>
</configuration>